@import "@jkhanseong/devcomma-react-library.responsive.breakpoints/_breakpoints.module.scss";

.container {
  max-width: var(--max-width-mobile, 311px);
  width: 100%;
  margin: 0 auto;

  @include media("<tablet") {
    &.disableMobile {
      max-width: initial;
    }
  }

  @include media(">tablet") {
    max-width: var(--max-width-tablet, 573px);

    &.disableTablet {
      max-width: initial;
    }
  }

  @include media(">desktop") {
    max-width: var(--max-width-desktop, 1110px);

    &.disableDesktop {
      max-width: initial;
    }
  }
}
