@import "@jkhanseong/devcomma-react-library.responsive.breakpoints/_breakpoints.module.scss";

.container {
  max-width: 311px;
  width: 100%;
  margin: 0 auto;

  @include media(">tablet") {
    max-width: 573px;
  }

  @include media(">desktop") {
    max-width: 1110px;
  }
}
